.vscode/
__pycache__/
.pytest_cache/
.coverage
.coverage.*
.tox
.tox/*
.eggs
.eggs/*
.nox
.nox/*
.nox-python
.nox-python/*
.pytest_cache
.pytest_cache/*
.mypy_cache
.mypy_cache/*
.build
.build/*
.idea/